<div class="container">
  <div class="form-container">
    <h2>Add a new dose for <%= @cocktail.name %></h2>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient, input_html: { class:"beautiful-dropdown" }, include_hidden: false %>
        <%= "How much?" %>
        <%= f.text_field :description %>
        <%= f.submit 'Add a dose', class:'btn btn-success' %>
    <% end %>
    <br>
  </div>
  <%= link_to 'See your updated cocktail!', cocktail_path(@cocktail), class:'btn btn-primary' %>
</div>